body	{
	/*font-size: 16px;*/
	font-family: sans-serif;
}
#header-nav {
	background-color: gray;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
  padding-top: 20px;
}

.navbar-brand h1 { 
  font-family: serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  background-color: #ff9394;
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
  /*margin-top: 20px*/
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#box {
      background-color: gray;
      padding: 20px;
      height: auto; 
      margin: 10px;
      overflow: auto;}

#style{
  ext-align: center;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}
